{% extends "base.html" %}

{% block content %}
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Roran: Discord bot written in Python</h1>
      <p>Hello, my name is Mathew Blau and I am a dedicated systems and backend software engineer, with minimal frontend experience. This site serves as 
        a showcase of my projects.
      </p>
    </div>
  </div>
        <div class="container">
            <p>Work began on my discord bot in May 2020 and has quickly taken on a life of it's own
               The bot is fully async, utilizes k8s and postgres(interfacing is done with SQLAlchemy).
               Currently, the bot provides weather, stocks, crypto-currency, and the ability to store abritrary text. 
            </p>
        </div>
</main>
    {% endblock %}