{% extends "base.html" %}

{% block content %}
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <div class="col">
      <h1 class="display-3">Matthew Blau. Tech Enthusiast and Creator of Software.</h1>
      <p>I am a dedicated systems and backend software engineer. I enjoy writing software and coming up with novel solutions both professionally and recreationally. This site serves as 
        a showcase of the projects that I work on in my free time.
      </p>
      <p><a class="btn btn-primary btn-lg" href="about.html" role="button">Learn more &raquo;</a></p>
    </div>
  </div>
</div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Discord Bot</h2>
        <p><img src="/static/images/roran.png" width="200" height="200"</p>
        <p>Written in python 3.8. Uses disnake, docker, k8s, and more.</p>
        <p><a class="btn btn-secondary" href="discord.html" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Portfolio website</h2>
        <p>This website has been written using the starlette python web framework with Bootstrap 4 and HTML for the frontend</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
    <hr>

  </div> <!-- /container -->

</main>
{% endblock %}
