{% extends "base.html" %}

{% block content %}
<div class="container"> 
   <div class="row"> 
      <div class="col col-sm-2">
          
          <div class="card shadow p-3 mb-5 bg-white rounded mr-1" style="width: 12rem;">
              <img src="/static/images/me.jpg" class="card-img-top" alt="...">
              <div class="card-body">
            <p class="text-left"><i class="fa fa-asterisk fa-fw"></i><b>  Skills</b></p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Python</li>
            <li class="list-group-item">Docker</li>
            <li class="list-group-item">GCP</li>
            <li class="list-group-item">Kubernetes</li>
            <li class="list-group-item">REST APIs</li>
            <li class="list-group-item">Ansible</li>
            <li class="list-group-item">AWX</li>
            <li class="list-group-item">Github Actions</li>
            <li class="list-group-item">Hashicorp Vault</li>
          </ul>

              </div>
            </div>
      </div>
      <div class="row">
      <div class="col">
          <div class="card shadow p-3 mb-5 bg-white rounded ml-5 mr-3">
              <h5 class="card-title">Systems Engineer III/Lex Machina</h5>
                <h6 class="card-subtitle mb-2 text-muted"><i class="fa fa-calendar" aria-hidden="true"></i> July 2021-<span class="badge badge-secondary">Present</h6>
                  <p class="card-text text-left">Responsible for the upkeep of Lex Machina's product.
                            <ul>
                              <li>Created utilies that bring quality of life improvements to the developers on staff, including a utility to interface with 
                                <br>Hashicorp Vault</li>
                              <li>Particpate in an on-call rotation </li>
                              <li>Built CI/CD pipelines for continous deployment of Lex Machina's new product offering</li>
                          </ul>
                  <hr>  
                  </p>
                  <h5 class="card-title">Junior Software Integration Engineer/Leaf Home</h5>
                  <h6 class="card-subtitle mb-2 text-muted"><i class="fa fa-calendar" aria-hidden="true"></i> October 2020-June 2021</h6>
                  <ul>
                    <li> Architect ETL scripts from requirements set forth by internal stakeholders</li>
                    <li>Provide support and maintenance to existing integrations</li>
                    <li>Participate in code reviews to ensure code quality meets best practices</li>
                    <li>Utilize containers for code deployment</li>
                    <li>Commit code to source control</li>
                    <li>Update tables in databases as required</li>
                    <li>Deploy containers to Prefect for orchestration</li>
                    <li>Collaborate with stakeholders and co-workers on projects to ensure accurate and timely results</li>
                    <li>Deploy new technologies such as Prefect and HashiCorp Vault</li>
                  </ul>
                  
                  </div>
              </div>
            </div>
            </div>
        </div>
      </div> 
   </div> 
</div>

{% endblock %}